<div class="bg-black text-white py-4">
  <h1 class="text-center text-xl">Elegir turno de atención</h1>
</div>
<div class="mt-6 px-4">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
    <div
      *ngFor="let turn of turns"
      class="bg-yellow-400 hover:bg-yellow-300 py-4 px-4 border-b-4 border-yellow-600 hover:border-yellow-400 rounded"
    >
      <a [routerLink]="['/turn', turn.id]">
        <div class="flex justify-between">
          <h2 class="text-white font-bold text-lg">{{ turn.name }}</h2>
          <p class="text-gray-600">{{ turn.estimated_time }} min</p>
        </div>

        <!-- otros campos... -->
      </a>
    </div>
  </div>
</div>
