<div
  id="modal"
  class="container fixed z-40 hidden min-h-full min-w-full place-content-center pt-56 backdrop-brightness-50"
  *ngIf="check()"
>
  <div class="grid gap-4 rounded-xl bg-white p-12 sm:p-12 text-center shadow">
    <h3 class="font-bold">{{ title }}</h3>
    <p>{{ description }}</p>
    <div *ngIf="!option">
      <span></span>
      <button
        class="w-40 cursor-pointer rounded bg-blue-500 p-2"
        (click)="close()"
      >
        'Aceptar'
      </button>
      <span></span>
    </div>
    <div *ngIf="option" class="space-x-2">
      <button
        class="w-40 sm:w-40 cursor-pointer rounded border-2 p-2"
        (click)="close()"
      >
        'Cancelar'
      </button>
      <button
        class="w-40 sm:w-40 cursor-pointer rounded bg-slate-400 p-2"
        (click)="confirm()"
      >
        {{ option }}
      </button>
    </div>
  </div>
</div>
