<div
  id="modalVerification"
  class="container fixed z-40 hidden min-h-full min-w-full place-content-center pt-20 backdrop-brightness-50"
  *ngIf="check()"
>
  <form #verificationForm="ngForm" (ngSubmit)="onSubmit(verificationForm)">
    <div class="grid gap-4 rounded-xl bg-white p-4 sm:p-12 text-center shadow">
      <h3 class="font-bold">{{ title }}</h3>
      <p>{{ description }}</p>
      <input
        type="text"
        name="verificationCode"
        [(ngModel)]="verificationCode"
        required
        placeholder="Introduzca el código de verificación aquí"
        class="border-2 rounded p-2 mt-4"
      />
      <div class="flex justify-center space-x-2 mt-4">
        <button
          class="w-full sm:w-40 cursor-pointer rounded border-2 border-primary-green p-2 text-primary-green"
          (click)="close()"
        >
          Cancelar
        </button>
        <button
          class="w-full sm:w-40 cursor-pointer rounded border-2 border-primary-green p-2 text-primary-green"
          type="submit"
        >
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
